# Dependencies
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/

# Env
.env
*.local

# Build
dist/
build/

# Obsidian
.obsidian/workspace.json
.trash/